body{background-color: black;}
img{width: 500px;
height: 700px;
margin-left: 200px;}
object{width: 300px;
height: 500px;}
.george{width: 300px;
height: 380px;
margin-left: 150px;}
.portada{margin-left: 200px;}
object{margin-left: 260px;}